* {
    margin: 0;
    padding: 0;
}



/* Estilos gerais para o tema relacionado a inventário de estoque */
body {
    margin: 12px;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    /* Fundo claro e neutro */
    color: #333;
    /* Texto escuro para legibilidade */
    height: 900px;
}

/* Estilos para botões */
button {
    width: 100%;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003f7d;
    transform: scale(1.05);
}

/* Inputs e labels */
input[type="text"],
input[type="number"],
input[type="file"] {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #cccccc;
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1px;
    text-transform: uppercase;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border: 2px solid #00b300;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    text-transform: uppercase;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #0056b3;
    /* Azul para destaque */
}

/* Containers e mensagens */
.form-group {
    margin: 5px;
    max-width: 98%;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#mensagemUpload p {
    text-transform: uppercase;
    background-color: #e9f5ff;
    border: 1px solid #b3daff;
    color: #0056b3;
    padding: 5px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin: 0;
    height: 30px;
    font-weight: bold;
}

#mensagemConfirmacao {
    margin-left: 10%;
    margin-right: 10%;

    -webkit-text-stroke-width: 0.0px;
    -webkit-text-stroke-color: #333;
    font-weight: bold;
    background-color: #2f8703;
    border: 1px solid #e9f5ff;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    margin-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

#infoProduto,
#listaProdutosEncontrados {
    background-color: #f8f9fa;
    border: 1px solid #19cdd6;
    color: #333;
    padding: 05px;
    border-radius: 5px;
    margin-top: 5px;
}

ul {
    padding-inline-start: 5px;
}

#listaProdutos li {
    font-size: 14px;
    list-style: none;
    padding: 10px;
    margin: 0px;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid #cccccc;
}

#listaProdutos li:hover {
    background-color: #ffffff;
    border: 2px solid #19cdd6;
}

/* Botão de salvar inventário final */
#botaoSalvarFinal {
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#botaoSalvarFinal:hover {
    background-color: #003f7d;
    transform: scale(1.05);
}


.linha {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espaço entre o label e o input */
}

.linha label {
    width: 100px;
    /* Define uma largura fixa para os labels */
    text-align: left;
    /* Alinha o texto à direita */
}

#botaoLimpar {
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    border: #333 solid 1px;
}